.consulta--cadastrar{
  height: 100vh;
  background-color: #E6E6E6;
}
.consulta--cadastrar__form{
  height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.consulta--cadastrar__form_all{
  margin-left: 20%;
  height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.consulta--cadastrar__titulo{
  font-family: "Roboto Light";
  font-size: 2em;
  color: #83BEDF;
  margin: 0% 10% 0% 0%;
}
.consulta--cadastrar__select{
  background-color: rgb(255, 255, 255);
  font-size: 1.3em;
  color: #AFAFAF;
  font-family: "Roboto Light";
  width: 60%;
  height: 7vh;
  box-shadow: 3px 0px 8px rgb(0, 0, 0, 40%);
  border-radius: 10px;
}
.consulta--cadastrar__formulario{
  width: 80%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.consulta--cadastrar__formulario_form{
  width: 80%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.consulta--cadastrar__input{
  background-color: rgb(255, 255, 255);
  font-size: 1.3em;
  color: #AFAFAF;
  font-family: "Roboto Light";
  width: 60%;
  height: 7vh;
  box-shadow: 3px 0px 8px rgb(0, 0, 0, 40%);
  border-radius: 10px;
}
.consulta--cadastrar__formulario_all{
  width: 80%;
  height: 30vh;
  display: flex;
}
.consulta--cadastrar__botao button{
  width: 50%;
  color: white;
  height: 5vh;
  background-image: linear-gradient(36deg, #A4ECFF, #9CE1F8, #6B9CCE, #192A87);
  border-radius: 10px;
  font-family: "Microsoft Yi Baiti";
  font-size: 2em;
  box-shadow: 3px 3px 9px rgb(0, 0, 0, 40%);
  font-weight: 500;

}
.consulta--cadastrar__botao{
  width: 40%;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
}
