.consulta--listar{
    background-color: #E6E6E6;
  }
  .consulta--listar__titulo{
    font-family: "Roboto Light";
    font-size: 2em;
    color: #83BEDF;
    margin: 0% 0% 0% 21%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 5%;
  }
  .logout{
    width: 92%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .logout button{
    width: 6%;
    color: white;
    height: 6vh;
    background-image: linear-gradient(36deg,#9CE1F8, #6B9CCE, #192A87);
    border-radius: 5px;
    font-family: "Microsoft Yi Baiti";
    font-size: 1.5em;
    font-weight: 200;
  }
  .consulta--listar__tabela{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
  }
  .consulta--listar__tabela-th{
      font-family: "Berlin Sans FB";
      color: #CCCCCC;
    font-size: 1.3em;
  }
  .consulta--listar__tabela-tabela{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .consulta--listar__tabela-thead{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .consulta--listar__tabela-tr{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2%;
}
.consulta--listar__tabela-tr-dados{
    display: flex;
    width: 80%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 1%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 0px 8px rgb(0, 0, 0, 40%);

    padding: 1%;
}
.consulta--listar__tabela-td{
    
  height: 3vh;
  width: 81%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "Berlin Sans FB";
  color: #999999;
    
}
.consulta--listar__tabela-tbody{
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.consulta--listar__botao{
  background-color: cornflowerblue;
  color: white;
  padding: 2%;
  border-radius: 5px;
}
    